.container{
  background-color: #eee6db;
}

.container2{
  padding: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

#main-container{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}


.tab-container{
  background-color: #ffffff;
}

.tab-links{
  background-color: #eee6db;
}

.table-scroll{
    position: absolute;
    overflow-y: scroll;
    max-height: 600px;
    border-radius: .5rem;
}

.card {
  border-radius: .5rem;
  padding: 0%;
}

thead th {
  color: #fff;
}

.modal-text {
  word-wrap: break-word; /* Enable text wrapping */
  max-width: 100%;  /*Limit the maximum width of the text */

}

.tab-link {
  display: inline-block;
  padding: 10px 15px;
  background-color:#ebebeb;
  color: #000000;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: -15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-link.active {
  background-color: #ffffff;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  color: #000000;
  font-weight: bold;
}


