.container{
  background-color: #eee6db;
    /* background-color: rgb(114, 0, 0); */

}

#main-container{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.container_searchForm{
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  
}

.container2{
  padding: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 20px;
  border-top-right-radius: 10px;
  
}

.tab-container{
  background-color: #ffffff;
}

.tab-links{
  background-color: #eee6db;
}

.tab-link {
  display: inline-block;
  padding: 10px 15px;
  background-color:#ebebeb;
  color: #000000;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: -15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-link.active {
  background-color: #ffffff;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  color: #000000;
  font-weight: bold;
}

.modal-text {
  word-wrap: break-word; /* Enable text wrapping */
  max-width: 100%;  /*Limit the maximum width of the text */

}

.permesso_malattia {
  background-color: rgb(241, 198, 198) !important;
}

.congedo {
  background-color: rgb(231, 252, 212) !important;
}

.recupero_ore{
  background-color: rgb(201, 237, 248) !important;


}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}


.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

}

.table-scroll{
  position: absolute;
  overflow-y: scroll;
  max-height: 600vh;
  border-radius: .5rem;
}

.card {
border-radius: .5rem;
padding: 0%;
}

thead th {
color: #fff;
}


ul li:hover {
    display: block;
    color: black;
    background-color: #e4e6e8;
    
  }
  
  a {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #535a60;
    cursor: pointer;
  }
  
  a:hover {
    color: black;
    cursor: pointer;
  }


  /* aggiunto dopo */

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* New styles for right positioning */
    top: 0;
    left: 100%; /* Initial position to the right of the link */
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .altri-permessi {
    display: none;
    position: absolute;
    /* New styles for right positioning */
    bottom: 0;
    left: 100%; /* Initial position to the right of the link */
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .malattia {
    display: none;
    position: absolute;
    /* New styles for right positioning */
    bottom: 0;
    left: 100%; /* Initial position to the right of the link */
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show dropdown on hover and position it correctly */
  .dn-altripermessi:hover .altri-permessi {
    
    display: block;
    /* Adjust left margin to align content with the link */
    right: -100%;  /* Move the content to the left by its own width */
  }
  
  .dropdown a:hover {
    background-color: #ddd;
  }

  .dn-malattia:hover .malattia {
    display: block;
    /* Adjust left margin to align content with the link */
    right: -100%;  /* Move the content to the left by its own width */
  }

  .dropbtn {
    width: 300px;
    background-color: #ffffff;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    cursor: pointer;
  }

  .show {display: block;}
  