/* .listaUtenti ul li a{
    padding: 5px 30px 5px 10px;
    display: block;
}

.listaUtenti ul li a:hover {
    background: transparent no-repeat 3px 170px;
} */

.malattia {
  background-color: rgb(241, 198, 198) !important;
}

.congedo {
  background-color: rgb(231, 252, 212) !important;
}

.recupero_ore{
  background-color: rgb(201, 237, 248) !important;


}

.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

}

.table-scroll{
  position: absolute;
  overflow-y: scroll;
  max-height: 600vh;
  border-radius: .5rem;
}

.card {
border-radius: .5rem;
padding: 0%;
}

thead th {
color: #fff;
}


ul li:hover {
    display: block;
    color: black;
    background-color: #e4e6e8;
    
  }
  
  a {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #535a60;
    cursor: pointer;
  }
  
  a:hover {
    color: black;
    cursor: pointer;
  }

  .menu-item {
    float: left;
    position: relative; /* <-- added declaration */

}

.menu-item ul {
  margin-top: 5px;
  list-style-type: none;


  z-index: 10000;
  position: absolute;  /* <-- added declarations */
  left: 0; top: 100%;  /*     here               */
  width: 100%;         /*     and here...        */

  transition: height 1s ease;
}