/* .listaUtenti ul li a{
    padding: 5px 30px 5px 10px;
    display: block;
}

.listaUtenti ul li a:hover {
    background: transparent no-repeat 3px 170px;
} */



ul li:hover {
    display: block;
    color: black;
    background-color: #e4e6e8;
    
  }
  
  a {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #535a60;
  }
  
  a:hover {
    color: black;
    cursor: pointer;
  }