<div class="container">
    <div class="tab-container">
        <div class="tab-links">
          <button class="tab-link" [class.active]="activeTab === 1" (click)="openTab(1)">Permessi da approvare</button>
          <button class="tab-link" [class.active]="activeTab === 2" (click)="openTab(2)">Permessi approvati</button>
          <button class="tab-link" [class.active]="activeTab === 3" (click)="openTab(3)">Permessi respinti</button>
        </div>
        <div class="tab-content">
          <div *ngIf="activeTab === 1">
            <div class="container" >
                <div class="row justify-content-center">
                  <!-- <div class="col"> -->
                  <div class="card">
                    <div class="card-body p-0">
                      <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
          
                        <table class="table table-striped mb-0">
                          <thead style="background-color: #002d72; position: sticky;top: 0;">
                            <tr>
                              <th scope="col">Tipo permesso</th>
                              <th scope="col">Richiedente</th>
                              <th scope="col">Dal giorno</th>
                              <th scope="col">Al giorno</th>
                              <th scope="col">Giorni totali</th>
                              <th scope="col">Dalle ore</th>
                              <th scope="col">Alle ore</th>
                              <th scope="col">Ore totali</th>
                              <th scope="col"></th>
                              <th scope="col"></th>
          
          
                            </tr>
                          </thead>
          
                          <tbody>
                            <tr *ngIf="permessiPending?.length == 0">
                              <td colspan="10">Nessun permesso da approvare</td>
                            </tr>
                            <tr *ngFor="let permesso of permessiPending">
                              <th scope="row">{{permesso?.tipoPermesso}}</th>
                              <td>{{permesso?.utenteRichiedente.cognome + " " + permesso?.utenteRichiedente.nome}}</td>
                              <td>{{permesso?.dataInizio | date:'dd-MM-yyyy'}}</td>
                              <td>{{permesso?.dataFine | date:'dd-MM-yyyy'}}</td>
                              <td>{{permesso?.totGiorni}}</td>
                              <td>{{permesso?.dalleOre}}</td>
                              <td>{{permesso?.alleOre}}</td>
                              <td>{{permesso?.totOre}}</td>
          
                              <td>
          
                                <!-- <button type="button" (click)='approvaPermesso(permesso)'
                                  class="btn btn-primary">Approva</button> -->
                              </td>
                              <!-- <td><button type="button" (click)="conferma('rifiuta', permesso)" class="btn btn-secondary" >Respingi </button> </td> -->
          
          
                              <!-- <td><button (click)="onRespingiPermesso(permesso)" class="btn btn-secondary tooltips" data-placement="top"
                                  data-toggle="tooltip" data-original-title="Respingi"><i class="fa fa-times">
                                    Respingi</i></button></td> -->
                                    
          
          
          
          
                            </tr>
                          </tbody>
                        </table>
          
          
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
              </div>
          </div>
          <div *ngIf="activeTab === 2">
            <div class="container">
                <div class="row justify-content-center">
                  <!-- <div class="col"> -->
                  <div class="card">
                    <div class="card-body p-0">
                      <div class=" table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
          
                        <table class="table table-striped mb-0">
                          <thead style="background-color: #002d72; position: sticky;top: 0;">
                            <tr>
                              <th scope="col">Tipo permesso</th>
                              <th scope="col">Richiedente</th>
                              <th scope="col">Dal giorno</th>
                              <th scope="col">Al giorno</th>
                              <th scope="col">Giorni totali</th>
                              <th scope="col">Dalle ore</th>
                              <th scope="col">Alle ore</th>
                              <th scope="col">Ore totali</th>
                              <th scope="col">Approvato in data:</th>
          
          
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngIf="permessiApprovati?.length == 0">
                              <td colspan="10">Nessun permesso approvato</td>
                            </tr>
                            <tr *ngFor="let permesso of permessiApprovati">
                              <th scope="row">{{permesso?.tipoPermesso}}</th>
                              <td>{{permesso?.utenteRichiedente.cognome + " " + permesso?.utenteRichiedente.nome}}</td>
                              <td>{{permesso?.dataInizio | date:'dd-MM-yyyy'}}</td>
                              <td>{{permesso?.dataFine | date:'dd-MM-yyyy'}}</td>
                              <td>{{permesso?.totGiorni}}</td>
                              <td>{{permesso?.dalleOre}}</td>
                              <td>{{permesso?.alleOre}}</td>
                              <td>{{permesso?.totOre}}</td>
                              <td>{{permesso?.dataApprovazione | date:'dd-MM-yyyy'}}</td>
          
                            </tr>
                          </tbody>
                        </table>
          
          
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
              </div>
          </div>
          <div *ngIf="activeTab === 3">
            <div class="container">
                <div class="row justify-content-center">
                  <!-- <div class="col"> -->
                  <div class="card">
                    <div class="card-body p-0">
                      <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
          
                        <table class="table table-striped mb-0">
                          <thead style="background-color: #002d72;position: sticky;top: 0;">
                            <tr>
                              <th scope="col">Tipo permesso</th>
                              <th scope="col">Richiedente</th>
                              <th scope="col">Dal giorno</th>
                              <th scope="col">Al giorno</th>
                              <th scope="col">Giorni totali</th>
                              <th scope="col">Dalle ore</th>
                              <th scope="col">Alle ore</th>
                              <th scope="col">Ore totali</th>
                              <th scope="col">Respinto in data:</th>
                              <th scope="col">Note:</th>
          
          
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngIf="permessiRespinti?.length == 0">
                              <td colspan="11">Nessun permesso respinto</td>
                            </tr>
                            <tr *ngFor="let permesso of permessiRespinti">
                              <th scope="row">{{permesso?.tipoPermesso}}</th>
                              <td>{{permesso?.utenteRichiedente.cognome + " " + permesso?.utenteRichiedente.nome}}</td>
                              <td>{{permesso?.dataInizio | date:'dd-MM-yyyy'}}</td>
                              <td>{{permesso?.dataFine | date:'dd-MM-yyyy'}}</td>
                              <td>{{permesso?.totGiorni}}</td>
                              <td>{{permesso?.dalleOre}}</td>
                              <td>{{permesso?.alleOre}}</td>
                              <td>{{permesso?.totOre}}</td>
                              <td>{{permesso?.dataApprovazione | date:'dd-MM-yyyy'}}</td>
                              <td><button (click)="visualizzaNote(permesso)" class="btn btn-primary tooltips" data-placement="top"
                                  data-toggle="tooltip" data-original-title="visualizzaNote"><i class="fa fa-times"> Vedi
                                    note</i></button></td>
                            </tr>
          
          
                          </tbody>
                        </table>
          
          
          
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
              </div>
          </div>
        </div>
      </div>
</div>
  
