<div class="container">
    <div class="tab-container">
        <div class="tab-links">
            <button class="tab-link" [class.active]="activeTab === 1" (click)="openTab(1)">Permessi in attesa di
                approvazione</button>
            <button class="tab-link" [class.active]="activeTab === 2" (click)="openTab(2)">Permessi approvati</button>
            <button class="tab-link" [class.active]="activeTab === 3" (click)="openTab(3)">Permessi respinti</button>
        </div>
        <div class="tab-content">
            <div *ngIf="activeTab === 1">
                <h3>Permessi in attesa di approvazione :</h3>

                <div class="container">
                    <div class="row justify-content-center">
                        <!-- <div class="col"> -->
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive bg-white table-scroll" data-mdb-perfect-scrollbar="true"
                                    style="position: relative;">

                                    <table class="table table-striped mb-0">
                                        <thead style="background-color: #002d72; position: sticky;top: 0;">
                                            <tr>
                                                <th scope="col">Tipo permesso</th>
                                                <th scope="col">Dal giorno</th>
                                                <th scope="col">Al giorno</th>
                                                <th scope="col">Giorni totali</th>
                                                <th scope="col">Dalle ore</th>
                                                <th scope="col">Alle ore</th>
                                                <th scope="col">Ore totali</th>
                                                <th scope="col">In revisione da</th>
                                                <th scope="col">Allegati:</th>
                                                <th scope="col"></th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="permessiPending?.length == 0">
                                                <td colspan="10">Nessun permesso richiesto in attesa di approvazione
                                                </td>
                                            </tr>
                                            <tr *ngFor="let permesso of permessiPending">
                                                <th scope="row">{{permesso?.tipoPermesso}}</th>
                                                <td>{{permesso?.dataInizio | date:'dd-MM-yyyy'}}</td>
                                                <td>{{permesso?.dataFine | date:'dd-MM-yyyy'}}</td>
                                                <td>{{permesso?.totGiorni}}</td>
                                                <td>{{permesso?.dalleOre}}</td>
                                                <td>{{permesso?.alleOre}}</td>
                                                <td>{{permesso?.totOre}}</td>
                                                <td>
                                                    <ng-container
                                                        *ngIf="permesso?.utenteApprovazione?.cognome || permesso?.utenteApprovazione?.nome">
                                                        {{permesso?.utenteApprovazione.cognome + " " +
                                                        permesso?.utenteApprovazione.nome}}<ng-container
                                                            *ngIf="permesso?.status===1">
                                                            &#9989;</ng-container><br>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="permesso?.utenteApprovazioneDue?.cognome || permesso?.utenteApprovazioneDue?.nome">
                                                        {{permesso?.utenteApprovazioneDue?.cognome + " " +
                                                        permesso?.utenteApprovazioneDue?.nome}}<ng-container
                                                            *ngIf="permesso?.status===2">
                                                            &#9989;</ng-container>
                                                    </ng-container>

                                                <td><button class="btn btn-primary tooltips"
                                                        (click)="onVisualizzaAllegati(permesso)">Visualizza</button>
                                                </td>
                                                <td><button (click)="selezionaPermessoDaCancellare(permesso)"
                                                        class="btn btn-danger" data-placement="top"
                                                        data-toggle="tooltip" data-original-title="eliminaPermesso"><i
                                                            class="fa fa-times">Elimina</i></button></td>


                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>

                </div>
            </div>
            <div *ngIf="activeTab === 2">
                <h3>Permessi approvati:</h3>

                <div class="container">
                    <div class="row justify-content-center">
                        <!-- <div class="col"> -->
                        <div class="card">
                            <div class="card-body p-0">
                                <div class=" table-scroll" data-mdb-perfect-scrollbar="true"
                                    style="position: relative;">

                                    <table class="table table-striped mb-0">
                                        <thead style="background-color: #002d72; position: sticky;top: 0;">
                                            <tr>
                                                <th scope="col">Tipo permesso</th>
                                                <th scope="col">Dal giorno</th>
                                                <th scope="col">Al giorno</th>
                                                <th scope="col">Giorni totali</th>
                                                <th scope="col">Dalle ore</th>
                                                <th scope="col">Alle ore</th>
                                                <th scope="col">Ore totali</th>
                                                <th scope="col">Approvato da</th>
                                                <th scope="col">Approvato in data</th>
                                                <th scope="col">Allegati:</th>



                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngIf="permessiApprovati?.length == 0">
                                                <td colspan="10">Nessun permesso approvato</td>
                                            </tr>
                                            <tr *ngFor="let permesso of permessiApprovati">
                                                <th scope="row">{{permesso?.tipoPermesso}}</th>
                                                <td>{{permesso?.dataInizio | date:'dd-MM-yyyy'}}</td>
                                                <td>{{permesso?.dataFine | date:'dd-MM-yyyy'}}</td>
                                                <td>{{permesso?.totGiorni}}</td>
                                                <td>{{permesso?.dalleOre}}</td>
                                                <td>{{permesso?.alleOre}}</td>
                                                <td>{{permesso?.totOre}}</td>
                                                <td>
                                                    <ng-container
                                                        *ngIf="permesso?.utenteApprovazione?.cognome || permesso?.utenteApprovazione?.nome">
                                                        {{permesso?.utenteApprovazione.cognome + " " +
                                                        permesso?.utenteApprovazione.nome}}<br>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="permesso?.utenteApprovazioneDue?.cognome || permesso?.utenteApprovazioneDue?.nome">
                                                        {{permesso?.utenteApprovazioneDue?.cognome + " " +
                                                        permesso?.utenteApprovazioneDue?.nome}}
                                                    </ng-container>
                                                </td>
                                                <td>{{permesso?.dataApprovazione | date:'dd-MM-yyyy'}}</td>
                                                <td><button class="btn btn-primary tooltips"
                                                        (click)="onVisualizzaAllegati(permesso)">Visualizza</button>
                                                </td>





                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <div *ngIf="activeTab === 3">
                <h3>Permessi respinti:</h3>

                <div class="container">
                    <div class="row justify-content-center">
                        <!-- <div class="col"> -->
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                                    style="position: relative;">

                                    <table class="table table-striped mb-0">
                                        <thead style="background-color: #002d72;position: sticky;top: 0;">
                                            <tr>
                                                <th scope="col">Tipo permesso</th>
                                                <th scope="col">Dal giorno</th>
                                                <th scope="col">Al giorno</th>
                                                <th scope="col">Giorni totali</th>
                                                <th scope="col">Dalle ore</th>
                                                <th scope="col">Alle ore</th>
                                                <th scope="col">Ore totali</th>
                                                <th scope="col">Respinto in data</th>
                                                <th scope="col">Note:</th>


                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngIf="permessiRespinti?.length == 0">
                                                <td colspan="10">Nessun permesso respinto</td>
                                            </tr>
                                            <tr *ngFor="let permesso of permessiRespinti">
                                                <th scope="row">{{permesso?.tipoPermesso}}</th>
                                                <td>{{permesso?.dataInizio | date:'dd-MM-yyyy'}}</td>
                                                <td>{{permesso?.dataFine | date:'dd-MM-yyyy'}}</td>
                                                <td>{{permesso?.totGiorni}}</td>
                                                <td>{{permesso?.dalleOre}}</td>
                                                <td>{{permesso?.alleOre}}</td>
                                                <td>{{permesso?.totOre}}</td>
                                                <td>{{permesso?.dataApprovazione | date:'dd-MM-yyyy'}}</td>
                                                <td><button (click)="visualizzaNote(permesso)"
                                                        class="btn btn-primary tooltips" data-placement="top"
                                                        data-toggle="tooltip" data-original-title="visualizzaNote"><i
                                                            class="fa fa-times"> Vedi
                                                            note</i></button></td>
                                            </tr>





                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ____________ NOTE MODAL______________ -->

<div class="modal fade" id="vediNote" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteModalLabel">Note rilasciate:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-text" [innerHTML]="permessoSelezionato?.note"></div>
                <div class="modal-footer">
                    <button type="button" id="annulla" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="eliminaPermessoModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Cancella utente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Sicuro di voler cancellare il permesso {{permessoDaCancellare?.tipoPermesso}} del
                    {{permessoDaCancellare?.dataInizio}}? </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="cancellaPermesso(permessoDaCancellare)" class="btn btn-danger"
                        data-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Visualizza allegati modal -->

<div class="modal fade" id="visualizzaAllegatiModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Allegati</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <h3>Allegati:</h3>
                <ng-container *ngIf="filenames?.length > 0; else noFiles">
                    <div *ngIf="filenames?.length > 0" class="js-upload-finished">
                        <div *ngFor="let filename of filenames" class="list-group" style="padding-bottom: 5px;">
                            <div class="list-group-item list-group-item-success">
                                <div class="filename">{{ filename }} </div>
                                <a (click)="onDownloadFile(filename)" class="float-right downloadAndEliminalink"
                                    #downloadFileButton>Download</a>
                                <a (click)="onDeleteFile(filename)" class="float-right downloadAndEliminalink"
                                    #eliminaFileButton>Elimina</a>


                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #noFiles>
                    <div class="alert alert-dark" role="alert">Nessun allegato presente.</div>
                </ng-template>

                <form id="fileForm" enctype="multipart/form-data">
                    <input type="file" (change)="onFileSelected($event)" accept="image/*, application/pdf" name="files"
                        multiple class="form-control" id="fileInput">
                </form><br>
                <div class="alert alert-danger" role="alert" style="display: none;" id="selectFileAlert">Seleziona dei
                    file!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>

                    <button (click)="onUpload()" class="btn btn-primary tooltips">Upload</button>

                </div>
            </div>


        </div>
    </div>
</div>