<div class="container">
  <h1>Richiesta Permessi</h1>
  <div class="row">
  <div class="col">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Scegli il tipo di permesso
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="tipo_permesso">
        <a class="dropdown-item" (click)="toggleForm('congedo')">CONGEDO ORDINARIO</a>
        <a class="dropdown-item" (click)="toggleForm('permesso_breve')">PERMESSO BREVE</a>
        <a class="dropdown-item" (click)="toggleForm('recupero_ore')">RECUPERO ORE ECCEDENTI</a>
        <a class="dropdown-item" (click)="toggleForm('permessi')">ALTRI PERMESSI</a>
      </div>
    </div>
  </div>
</div>

  <div class="container" id="ferie_form">

  </div>

  <div id="congedo_form" style="display: none;">
    
      
      <h2 style="padding-top: 5px;">CONGEDO ORDINARIO</h2>
      <form #congedo="ngForm" (ngSubmit)="aggiungiPermesso(congedo)" id="congedo" ngNativeValidate> <!-- (ngSubmit)="inviaPermesso(congedo)"  -->
        <input type="hidden" ngModel="{{utenteLoggato?.id}}"  name="idUtente" class="form-control" id="idUtente">
        <input type="hidden" ngModel="Congedo Ordinario" ng-value="Congedo Ordinario" value="Congedo Ordinario" name="tipoPermesso" id="tipoPermesso" required> <!-- il punto interrogativo serve a verificare se il dato esiste, se non si mette e non esiste da errore -->
        <div class="row">
        <div class="col">

        <div class="form-group">
          <label for="dataInizio">Giorni di ferie dal </label>
          <input type="date" ngModel name="dataInizio" class="form-control" id="dataInizio" title="Data inizio ferie"
            required />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="dataFine">al</label>
          <input type="date" ngModel name="dataFine" class="form-control" id="dataFine" title="Data fine ferie"
            required />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <p>Giorni totali: </p><input id="totGiorni" name="totGiorni" readonly />
        </div>
      </div>
      </div>
        <div class="form-group">
          <label for="approvazione">Da sottomettere per approvazione a:</label>
          <select ngModel name="idUtenteApprovazione" class="form-control" id="idUtenteApprovazione" placeholder="Scegli funzionario"
            form="congedo" required>
            <option *ngFor= "let utenteApprovazione of utentiFerie" [ngValue]="utenteApprovazione.id"> {{utenteApprovazione?.cognome + " " + utenteApprovazione?.nome}}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Invia</button> <!-- [disabled]="addForm.invalid" -->
        </div>
      </form>
    
  </div>


  <div id="permesso_breve_form" style="display: none;">
    <div class="row">
      <h2 style="padding-top: 5px;">PERMESSO BREVE (fino a 36 ore annue)</h2>
      <form #permesso_breve="ngForm" (ngSubmit)="aggiungiPermesso(permesso_breve)" id="permesso_breve" ngNativeValidate>
        <input type="hidden" ngModel="Permesso breve" name="tipoPermesso" id="tipoPermesso" >

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="dalleOre">Dalle ore: </label>
              <input type="time" ngModel name="dalleOre" class="form-control" id="dalleOre" title="Ore inizio"
                required />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="alleOre">alle ore</label>
              <input type="time" ngModel name="alleOre" class="form-control" id="alleOre" title="Ore fine" required />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="dataInizio">del giorno</label>
              <input type="date" ngModel name="dataInizio" class="form-control" id="dataInizio" title="Giorno"
                required />
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>Numero ore totali: </p><input id="totOre" name="totOre" readonly />
          <p><i>Da recuperare entro il mese successivo</i></p>
        </div>

        <div class="form-group">
          <label for="approvazione">Da sottomettere per approvazione a:</label>
          <select ngModel name="idUtenteApprovazione" class="form-control" id="idUtenteApprovazione" placeholder="Scegli funzionario"
            form="permesso_breve" required>
            <option *ngFor= "let utente of utentiFerie" [ngValue]="utente.id"> {{utente?.cognome + " " + utente?.nome}}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Invia</button> <!-- [disabled]="addForm.invalid" -->
        </div>
      </form>
    </div>
  </div>

  <div id="recupero_ore_form" style="display: none;">
    <div class="row">
      <h2 style="padding-top: 5px;">RECUPERO ORE ECCEDENTI (Effettuate oltre l'orario di servizio)</h2>
      <form #recupero_ore="ngForm" (ngSubmit)="aggiungiPermesso(recupero_ore)" id="recupero_ore" ngNativeValidate>
        <input type="hidden" ngModel="Recupero ore eccedenti" name="tipoPermesso" id="tipoPermesso" >
        <div class="row">
          <div class="col">
        <div class="form-group">
          <label for="dalleOre">Dalle ore: </label>
          <input type="time" ngModel name="dalleOre" class="form-control" id="dalleOre" title="Ore inizio" required />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="alleOre">al</label>
          <input type="time" ngModel name="alleOre" class="form-control" id="alleOre" title="Ore fine" required />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="dataInizio">del giorno</label>
          <input type="date" ngModel name="dataInizio" class="form-control" id="dataInizio" title="Giorno" required />
        </div>
      </div>
        <div class="form-group">
          <p>Numero ore totali: </p><input id="totOre" name="totOre" readonly />

        </div>
      </div>
      <div class="form-group">
        <label for="approvazione">Da sottomettere per approvazione a:</label>
        <select ngModel name="idUtenteApprovazione" class="form-control" id="idUtenteApprovazione" placeholder="Scegli funzionario"
          form="recupero_ore" required>
          <option *ngFor= "let utente of utentiFerie" [ngValue]="utente.id"> {{utente?.cognome + " " + utente?.nome}}</option>
        </select>
      </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Invia</button> <!-- [disabled]="addForm.invalid" -->
        </div>
      </form>
    </div>
  </div>
<!-- _________________________________________ FORM PERMESSI _________________________________________ -->

  <div id="permessi_form" style="display: none;">
    <div class="row">
      <h2 style="padding-top: 5px;">ALTRI PERMESSI</h2>

      <form #permessi="ngForm" (ngSubmit)="aggiungiPermesso(permessi)" id="permessi" ngNativeValidate> 
        <div class="row">
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="concorsiEdEsami" name="tipoPermesso" id="concorsiEdEsami"
                value="Concorsi ed Esami" required>
              <label class="form-check-label" for="concorsiEdEsami"> Concorsi ed Esami (8 gg/anno) </label>

            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="luttoFamiliare" name="tipoPermesso" id="luttoFamiliare"
                value="Lutto Familiare" />
              <label class="form-check-label" for="luttoFamiliare"> Lutto familiare (3 gg/evento) </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="graviInfermita" name="tipoPermesso" id="graviInfermita"
                value="Gravi Infermita" />
              <label class="form-check-label" for="graviInfermita"> Gravi infermità 18 ore/anno </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="matrimonio" name="tipoPermesso" id="matrimonio"
                value="Matrimonio" />
              <label class="form-check-label" for="matrimonio"> Matrimonio(15 gg consecutivi) </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="sport" name="tipoPermesso" id="sport" value="Sport" />
              <label class="form-check-label" for="sport"> Attività ginnico-sportiva </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="motiviPersonali" name="tipoPermesso" id="motiviPersonali"
                value="Motivi Personali" />
              <label class="form-check-label" for="motiviPersonali"> Motivi personali o familiari (18 oee/anno) </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="malattiaDLGS" name="tipoPermesso" id="malattiaDLGS"
                value="Malattia DLGS n.119" />
              <label class="form-check-label" for="malattiaDLGS"> Malattia cure/terapie D.Lgs. n.119 del 18/07/2011 (30
                gg./anno)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="malattia_visite" name="tipoPermesso" id="malattia_visite"
                value="Malattia visite" />
              <label class="form-check-label" for="malattia_visite"> Malattia per visite, terapie, prestazioni
                specialistiche ed esami
                diagnostici (18 h /anno)</label>
              <p><i>(obbligatoria documentazione medica giustificativa assenza)</i></p>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="sangue" name="tipoPermesso" id="sangue" value="Donazione sangue" />
              <label class="form-check-label" for="sangue"> Donazione Sangue (24 ore dalla donazione)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="studio" name="tipoPermesso" id="studio" value="Studio" />
              <label class="form-check-label" for="studio"> Motivi di studio (max 150 ore/anno)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="Testimonianze" name="tipoPermesso" id="Testimonianze"
                value="Testimonianze" />
              <label class="form-check-label" for="Testimonianze"> Testimonianze per motivi di servizio
                (illimitate)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="sindacale" name="tipoPermesso" id="sindacale"
                value="Permesso Sindacale" />
              <label class="form-check-label" for="sindacale"> Permesso sindacale</label>
            </div>
            <h6>L. 265/99 - artt. 18 e 24</h6>
            <div class="form-check">

              <input class="form-check-input" type="radio" ngModel="cariche_elettive" name="tipoPermesso" id="cariche_elettive"
                value="Cariche elettive" />
              <label class="form-check-label" for="cariche_elettive"> Cariche elettive</label>
            </div>
            <h6>D.P.R. 30/03/57 n.361 – L. 29/01/92 n.69</h6>
            <div class="form-check">

              <input class="form-check-input" type="radio" ngModel="elezioni" name="tipoPermesso" id="elezioni" value="Permesso elezioni" />
              <label class="form-check-label" for="elezioni"> Permesso per elezioni/referendum</label>
              <p><i>(Assenze per Funzioni Elettorali – 18 ore/evento - Obbligatoria documentazione giustificativa)</i>
              </p>
            </div>
          </div>
          <div class="col">
            <h6>L. 104/92 - art.33 (2ore/g - 18ore/mese)</h6>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="assistenza_disabili" name="tipoPermesso"
                id="assistenza_disabili" value="Assistenza disabili" />
              <label class="form-check-label" for="assistenza_disabili"> Assistenza disabili</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="permessi_individuali" name="tipoPermesso"
                id="permessi_individuali" value="Permessi individuali" />
              <label class="form-check-label" for="permessi_individuali"> Permessi individuali</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="prolungamento_congedo_parentale" name="tipoPermesso"
                id="prolungamento_congedo_parentale" value="Prolungamento congedo parentale" />
              <label class="form-check-label" for="prolungamento_congedo_parentale"> Prolungamento del congedo parentale
                L.104/92
                (Circ. n. 139 17/07/2015)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="congedo_parentale" name="tipoPermesso" id="congedo_parentale"
                value="Congedo parentale" />
              <label class="form-check-label" for="congedo_parentale"> Congedo parentale</label>
              <p><i>(obbligatoria autocertificazione del coniuge)</i></p>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="riposi_giornalieri" name="tipoPermesso" id="riposi_giornalieri"
                value="Riposi giornalieri" />
              <label class="form-check-label" for="riposi_giornalieri"> Riposi giornalieri</label>
              <p><i>(obbligatoria documentazione relativa al coniuge)</i></p>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="malattia_figlio" name="tipoPermesso" id="malattia_figlio"
                value="Malattia figlio" />
              <label class="form-check-label" for="malattia_figlio"> Congedo per malattia figlio/a</label>
              <p><i>(obbligatoria certificazione malattia figlio/a)</i></p>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="allattamento" name="tipoPermesso" id="allattamento"
                value="Allattamento" />
              <label class="form-check-label" for="allattamento"> Permessi orari retribuiti per allattamento</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" ngModel="paternita" name="tipoPermesso" id="paternita"
                value="Paternita" />
              <label class="form-check-label" for="paternita"> Congedo obbligatorio di paternità 10 gg /5 turni</label>
            </div>
          </div>
        </div>
        <h6 style="text-align: center;">E comunica che la fruizione del permesso, ove autorizzata, comporterà l’assenza
          dal servizio</h6>

        <!-- ------------------------------- -->

        <div class="container">
          <div id="dettagli_form">
            <div class="row">

              <div class="col">
                <div class="form-group">
                  <input class="form-check-input" type="radio" ngModel name="assenza_per" id="checkbox_ore"
                    value="checkbox_ore" required />
                  <label class="form-check-label" for="dalleOre"> Dalle ore </label>
                  <input type="time" ngModel name="dalleOre" id="dalleOre" />

                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-check-label" for="alleOre"> alle ore </label>
                  <input type="time" ngModel name="alleOre" id="alleOre" />
                </div>

              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-check-label" for="dataInizio"> del Giorno </label>
                  <input type="date" ngModel name="dataInizio" id="dataInizio" />
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label class="form-check-label" for="totOre"> per un totale di ore: </label>
                  <input type="text" ngModel name="totOre" id="totOre" disabled="true" />
                  <!-- ------------------------------- -->
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input class="form-check-input" type="radio" ngModel name="assenza_per" id="checkbox_giorni"
                    value="checkbox_giorni" />
                  <label class="form-check-label" for="dataInizio"> Dal giorno </label>
                  <input type="date" ngModel name="dataInizio" id="dal_giorno" />

                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-check-label" for="dataFine"> al giorno </label>
                  <input type="date" ngModel name="dataFine" id="al_giorno" />

                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-check-label" for="totOre"> per un totale di giorni: </label>
                  <input type="text" ngModel name="totGiorni" id="totGiorni" value="totGiorni" />

                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col">
                <div class="form-group">
                  <input class="form-check-input" type="radio" ngModel name="assenza_per" id="checkbox_turni"
                    value="checkbox_turni" />
                  <label class="form-check-label" for="dal_turno"> Dal turno </label>
                  <input type="text" ngModel name="dal_turno" id="dal_turno" />

                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-check-label" for="num_turni"> per numero turni </label>
                  <input type="text" ngModel name="num_turni" id="num_turni" />

                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-check-label" for="totGiorni"> per un totale di giorni: </label>
                  <input type="text" ngModel name="totGiorni" id="totGiorni" value="totGiorni" />

                </div>
              </div>
            </div>
            <input type="reset"> -->
          </div>

        </div>
        <h4>SI ALLEGA/SEGUIRA' DOCUMENTAZIONE GIUSTIFICATIVA</h4>
        <div class="form-group">
          <label for="approvazione">Da sottomettere per approvazione a:</label>
          <select ngModel name="idUtenteApprovazione" class="form-control" id="idUtenteApprovazione" placeholder="Scegli funzionario"
            form="permessi" required>
            <option *ngFor= "let utenteApprovazione of utentiFerie" [ngValue]="utenteApprovazione.id"> {{utenteApprovazione?.cognome + " " + utenteApprovazione?.nome}}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Invia</button> <!-- [disabled]="addForm.invalid" -->
        </div>
      </form>
    </div>
  </div>
</div>