
.table-scroll{
    position: absolute;
    overflow-y: scroll;
    max-height: 200px;
    border-radius: .5rem;
}

.card {
  border-radius: .5rem;
  padding: 0%;
}

thead th {
  color: #fff;
}

.downloadAndEliminalink {
  margin-right: 10px;
  cursor: pointer;
}

.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

}

