
.table-scroll{
    position: absolute;
    overflow-y: scroll;
    max-height: 200px;
    border-radius: .5rem;
}

.card {
  border-radius: .5rem;
  padding: 0%;
}

thead th {
  color: #fff;
}

.downloadAndEliminalink {
  margin-right: 10px;
  cursor: pointer;
}

.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

}


.modal-text {
  word-wrap: break-word; /* Enable text wrapping */
  max-width: 100%;  /*Limit the maximum width of the text */

}

.green-check {
  display: inline-block;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
}




